{% load static %}
{% load cart_template_tags %}		<!-- header-bottom-->


	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="/" class="font-weight-bold font-italic">
							<img src="{% static 'images/logo2.png' %}" alt=" " class="img-fluid">Electro Store
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="{% url 'core:search' %}">
								<input class="form-control mr-sm-2" type="search" placeholder="Search products by name" name="product_name" 
								value="{% if values %}{{values.product_name}}{% endif %}" 

								 aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<a href="{% url 'core:order-summary' %}">
								<button  style="height: 45px;" class="btn btn-dark">
								  <i class="fas fa-cart-arrow-down"></i> 
								  
									<span class="badge badge-light">{{request.user| cart_item_count }} </span>  
								</button>
								</a>

							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<div class="dropdown">	
								<li style="list-style-type: none; width: 100%;" class="dropdown-toggle" data-toggle="dropdown">
									<a href="">
										<strong>All Categories</strong>
										</a>
								</li>
									<div class="dropdown-menu">

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='Mobile' %}">Mobile</a>								    	
								    </div>

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='Computer' %}">Computer</a>								    	
								    </div>

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='Television' %}">Television</a>								    	
								    </div>

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='Audio' %}">Audio</a>								    	
								    </div>

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='LargeAppliances' %}">Large Appliances</a>								    	
								    </div>

								    <div class="dropdown-item">
										<a href="{% url 'core:category-view' cat_name='Camera' %}">Cameras</a>								    	
								    </div>
								    
								</div>
							</div>

						
						
					
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="{% url 'core:item-list' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						
						
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="{% url 'core:AboutUs' %}">About Us</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="/">New Arrivals</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'core:ContactUs' %}">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
