{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Electronics</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				{{cat_name}}</h3>
			<!-- //tittle heading -->
		
			{% if items %}

			<div class="row">
								{% for item in items %}
									{% if item.stock > 0 %}
								<div class="col-md-3 product-men mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img height="200" width="160" src="{{ item.image.url }}" alt="">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="{{ item.get_absolute_url}}" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											
											
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<a href="" class="grey-text">
												<h5>{{item.get_category_display}}</h5>
											</a>
											<h4 class="pt-1">
												<a href="{{item.get_absolute_url}}">{{item.title}}
													

												</a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">Rs. {{item.get_price}}/-</span>
												{% if item.discount_price %}
												<del> {{item.price}} </del>
												{% endif %}
											</div>
											</div>
										</div>
									</div>
									{% endif %}
								
								
								{% endfor %}
							</div>
							{% else %}
							<p>no such items</p>
							{% endif %}



			
		</div>
	<!-- //top products -->

	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Smooth, Rich & Loud Audio</h6>
								<h4 class="mt-2 mb-3">Branded Headphones</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>A Bigger Phone</h6>
								<h4 class="mt-2 mb-3">Smart Phones 5</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle section -->

	{% endblock content %}